extends layout
block content
	.container
		lesson = locals.lesson;
		.spacer
		.profilehead
			.row
				.span3
					picUrl = locals.user.picUrl
					img.img-polaroid(src=picUrl)
				.span8
					.row	
						.spacer
						.span5
							.pageheader
								h1 Lesson Name: #{lesson.name} 
							h2 Mentored by #{lesson.mentorUsername} and Taught to #{lesson.studentUsername}
		.profilebody
			.row
				.span7
					h1 Assignments
					actionurl = '/addAssignment/' + lesson.lessonId
					form#giveAssignment(action= actionurl, method='POST')
						span3
							label(for='text') Assignment Text:
							textarea#text(cols='100', rows='5', name='text', type='text')
						.submit
							button.btn(type='submit') Assign
					assignments = locals.user.lessonIds
					mixin format(lessonId)
						.row
							p id is: #{lessonId}
					-each lessonId in lessonIds
						mixin format(lessonId)
				.span3
					h1 chat
block scripts
