extends user-layout
mixin lesson(lesson)
	tr
		td #{lesson.name} 
		td #{lesson.student}
		td #{lesson.dateStarted}
		td 
			a.button.btn(href=mentorurl) Go To Page

block type
	h3 Mentor in #{locals.pageof.topicTags}

block rating
	h4.pull-right Rating: 
		-if(typeof locals.pageof.rating!=='undefined')
			p #{locals.pageof.rating}
		-else
			p None

block connections
	h2 Lessons
		- if(typeof locals.pageof.lessons!== 'undefined' && locals.pageof.lessons.length>0)
			lessons = locals.pageof.lessons
			table.table
				thead
					tr
						th Name
						th Student
						th Date Started
				tbody
					-each lesson in lessons
						mixin lesson(lesson)
		- else
			p This mentor has not mentored anyone.
		
		