extends layout
block content
	.container
		.spacer
		.profilehead
			.row
				.span3
					picUrl = locals.pageof.picUrl
					img.img-polaroid(src=picUrl)
				.span8
					.row 
						.span2.pull-right
							block rating
					.row	
						.spacer
						.span5
							.pageheader
								h1 #{locals.pageof.fname} #{locals.pageof.lname} <small> (#{locals.pageof.username}) </small>
							block type
						.span2.pull-right
							h4 Request Tutoring?
							requesturl = '/writeRequest/' + locals.pageof.username
							a.button.btn(href=requesturl) Make Request
		.profilebody
			ul.nav.nav-pills#myTab
				li 
					a(href="#profile", data-toggle="tab") Profile
				li
					a(href="#lessons", data-toggle="tab") My Lessons
				li
					a(href="#requests", data-toggle="tab") Requests
				li
					a(href="#settings", data-toggle="tab") Settings
			#myTabContent.tab-content
				.tab-pane.fade#profile
					.row
						.span4.offset1
							h2 Bio
							p #{locals.pageof.bio}
						.span4
							block connections
					.row
						.span8
							block reviews
				.tab-pane.fade#lessons
					.row
						.span4.offset1
							h2 Lessons
							lessonIds = locals.user.lessonIds
							mixin format(lessonId)
								.row
									p id is: #{lessonId}
							-each lessonId in lessonIds
								mixin format(lessonId)
				.tab-pane.fade#requests
					.row
						.span4.offset1
							h2 Incoming Requests
							requests = locals.user.mentorRequests
							mixin format(request)
								.row
									accepturl = '/acceptRequest/' + request.studentUsername + '/' + request.mentorUsername
									p from: #{request.studentUsername}
									a.button.btn(href=accepturl) Accept Request
							-each request in requests 
								mixin format(request)
						.span4
							h2 Pending Requests
				.tab-pane.fade#settings
					.row
						.span6.offset1
							include partials/updateInfo
block scripts
	script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js")
	script(src="/javascript/tabs.js")